Tema1/.checkpatch-camelcase.date.0
Tema1/data.json
Tema1/functional
Tema1/checker/checkstyle.txt
Tema1/checker/output/00-functional.out
Tema1/checker/output/00-functional.valgrind
Tema1/checker/output/01-functional.out
Tema1/checker/output/01-functional.valgrind
Tema1/checker/output/02-functional.out
Tema1/checker/output/02-functional.valgrind
Tema1/checker/output/03-functional.out
Tema1/checker/output/03-functional.valgrind
Tema1/checker/output/04-functional.out
Tema1/checker/output/04-functional.valgrind
Tema1/checker/output/05-functional.out
Tema1/checker/output/05-functional.valgrind
Tema1/checker/output/06-functional.out
Tema1/checker/output/06-functional.valgrind
Tema1/checker/output/07-functional.out
Tema1/checker/output/07-functional.valgrind
Tema1/checker/output/08-functional.out
Tema1/checker/output/08-functional.valgrind
Tema1/checker/output/09-functional.out
Tema1/checker/output/09-functional.valgrind
Tema1/checker/output/10-functional.out
Tema1/checker/output/10-functional.valgrind
Tema1/checker/output/11-functional.out
Tema1/checker/output/11-functional.valgrind
Tema1/checker/output/12-functional.out
Tema1/checker/output/12-functional.valgrind
Tema1/src/functional.o
Tema1/src/main
Tema1/src/tasks.o
Tema1/data.json
Tema1/functional
Tema1/checker/checkstyle.txt
Tema1/src/functional.o
Tema1/src/tasks.o
Tema1/data.json
Tema1/functional
Tema1/checker/checkstyle.txt
Tema1/src/functional.o
Tema1/src/tasks.o
